html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
header{
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #ffffff;
	z-index: 100;
}

#board{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: rgb(245, 247, 250);
}

a:link {
 color: #000000;
 text-decoration: none;
}

#MainPanel{
	margin: 10px;
}
#TextDialog{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	background-color:  #ffffff;
	z-index: 100;
}
#TextDialogContent{
	margin: 5% auto;
	width: 90%;
	padding: 2em;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: modalopen;
	animation-duration: 1.0s;
}
#EditDialog{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	background-color:  #ffffff;
	z-index: 100;
}
#EditDialogContent{
	margin: 5% auto;
	width: 90%;
	padding: 2em;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: modalopen;
	animation-duration: 1.0s;
}
@keyframes modalopen {
	from {opacity: 0}
	to {opacity: 1}
}
#TextArea{
	width: 100%;
	height: 20em;
}
#DictionaryURL{
	width: 50%;
}
#DefinitionField{
	width: 100%;
}
